#clockContainer{
    position: relative;
    /* border: 2px solid red; */
    margin: auto;
    height: 40vw;
    width: 40vw;
    /* height: 440px;
    width: 440px; */
    background: url(clock.png) no-repeat;
    background-color: aqua;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 6px;
    transform-origin: bottom;
}
#hour{
    height: 29%;
    width: 1%;
    top: 20%;
    left: 49.34%;
    opacity: 0.8;
    /* display: none; */
}
#minute{
    height: 34%;
    width: 1%;
    top: 16%;
    left: 49.28%;
    opacity: 0.8;
    /* display: none; */
}
#second{
    height: 41%;
    width: 1%;
    top:8%;
    left: 49.34%;
    opacity: 0.8;
    /* display: none; */
}